/* @font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf);
}
* {
    font-family: 'Roboto-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-backgound01: radial-gradient(circle,rgb(12, 18, 46) 0%, rgba(2, 5, 23, 1) 50%, rgb(8, 12, 32) 100%);
    --color-backgound02: #0a0a0a;
    --color-background03: #0d1119;
    --color-font1: #F8FAFC;
    --color-font2: #91a2c2;
    --color-destaque: #3676de;
    --color-destaque02: chocolate;
    --color-azul-nav: #0A2540;
    --color-azul-primario: #1E3A8A;
    --color-cinza-fundo: #F8FAFC;
    font-size: 16px;
}


body{
    background-color: var(--color-background03);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*    -----------  MAIN   ---------    */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    
}

/*    -----------  Header   ---------    */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 50;
    border-bottom: 1px solid var(--color-azul-primario);
    box-shadow: 2px 2px 30px 1px var(--color-azul-primario);
    backdrop-filter: blur(10px);
}
.containerNav {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}
.nameTitle{
    font-size: 1rem;
    margin: 0;
}
.nameTitle > a{
    color: var(--color-cinza-fundo);
}
.ul1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 2px 10px 5px;
    gap: 24px;
    list-style: none;
    border: 1px solid var(--color-azul-primario);
    border-radius: 50px;
}
.list > a {
    font-size: .8rem;
    color: var(--color-cinza-fundo);
}


/*    -----------  SECTION   ---------    */

section{
    display: flex;
    flex-direction: column;
    scroll-padding-top: 50px;

}

/*    -----------  SECTION 1 DADOS PRINCIPAIS  ---------    */

.conteudo-principal-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-backgound01);
    padding: 60px 20px 60px 20px;
}

.conteudo-principal-1-img{
    max-width: 140px;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid var(--color-azul-primario);
    box-shadow: 2px 2px 30px 1px var(--color-azul-primario);
}
.div-img{
    padding: 1rem;
    z-index: 1;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .8s;
}

.conteudo-principal-1-escrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-font1);
    gap: 12px;
    /* padding: 16px 0; */
}

.conteudo-principal-1-nome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: var(--color-font2);


    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}

.descTitles{
    color: var(--color-font2);
    text-align: center;
    line-height: 1.2;
    
    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}

.conteudo-principal-1-decript{
    text-align: center;
    font-weight: 800;
    line-height: 1.3;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}

.miniCardsSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0;
    padding: 0;
    gap: 10px;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}
.miniCardsSkills > .liSkills {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.liSkills > img {
    height: 50px;
}
.nameSkill{
    color: var(--color-font2);
    
}

.containerButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    
    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}
.buttonOnly{
    color: var(--color-font1);
}
.containerButtons > a{
    text-decoration: none;
}
.buttonLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--color-destaque);
    background-color: var(--color-destaque);
    border-radius: 40px;
    width: 200px;
    height: 44px;
}
.buttonLinkName{
    margin: 0;
}


.contatos{
    display: flex;
    flex-direction: column;
    color: var(--color-font1);
    padding-top: 25px;
}

.cor-svg{
    width: 25px;
}
path{
    fill: var(--color-destaque02);
    width: 25px;
}

.github-site{
    color: var(--color-font1);
    text-decoration: none;
    cursor: pointer;
}
.github-site a:hover{
    color: var(--color-destaque);
    transition: .8s;    
}





/*    -----------  SECTION 2 QUEM SOU EU  ---------    */

.quem-sou{
    background-color: var(--color-backgound02);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 300px;
    gap: .5rem;
    /* padding: 5rem 5rem; */
    opacity: 1;
    padding: 60px 16px;
}

.container-quem-sou{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.titulo-quem-sou{
    color: var(--color-font1);
/* 
    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all .6s; */

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .8s;
}

.descricao-quem-sou{
    color: var(--color-font2);

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .8s;
}

.description-tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 0;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all 1s;
}

.tecnologias{
    color: var(--color-font1);
    font-size: 28px;
}

.cardsSkills {
    display: flex;
    flex-wrap: wrap;justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 10px;

    /* opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s; */
}
.cardsSkills > .cardLiSkills {
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-font2);
    font-size: 12px;
    gap: 8px;
}
.cardLiSkills > img {
    height: 70px;
}

.button-cv{
    border: 1px solid var(--color-destaque);
    background-color: var(--color-destaque);
    border-radius: 40px;
    width: 200px;
    height: 50px;
    color: var(--color-font1);
    border: none;
    font-size: 12px;

    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all 1.5s;
}


/*    -----------  SECTION 3 PORTIFÓLIO   ---------    */

.portifolioScroll{
    height: 50px;
}

.portifolio{
    scroll-padding-top: 10%;
    background-color: var(--color-background03);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}

.portifolioAll{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.titulo-subtitulo-Portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-font1);
    padding-bottom: 16px;
}

.sub-titulo-portifolio{
    color: var(--color-font2);
}

.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.card-only{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    gap: 5px;
    border: solid 1px var(--color-destaque);
    box-shadow: 2px 2px 30px 1px var(--color-azul-primario);
    border-radius: 1rem;
    

    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}
.a-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 16px;
    gap: 10px;
}
.title-card{
    color: var(--color-font1);
    border-top: 1px solid var(--color-destaque);
    border-bottom: 1px solid var(--color-destaque);
    padding: 10px 0px;
}
.desc-card{
    margin: 0;
    color: var(--color-font2);
}
.image-card{
    height: 200px;
    width: 100%;
    min-height: 200px;
}
.card-img-01{
    background-image: url(imgs/printPageLicencaCapacitacao01.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}
.card-img-02{
    background-image: url(imgs/ImageAppMovies01.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}
.card-img-03{
    background-image: url(imgs/landingPage02PrintScreem.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}
.card-img-04{
    background-image: url(imgs/shoppingCar01.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}
.card-img-05{
    background-image: url(imgs/flappyBird.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}
.card-img-06{
    background-image: url(imgs/calculadora01.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}


/*    -----------  SECTION 4 CONTATO   ---------    */

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 3rem;
    background-color: var(--color-backgound02);

    /* border: 1px solid red; */
}

.limitar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    gap: .5rem;
    background-color: var(--color-header);
    border-radius: 10px;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .8s;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--color-font1); 
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-contato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.div-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.div-contato input{
    border: 2px solid var(--color-destaque);
    height: 3rem;
    width: 45%;
    padding-left: 5px;
    background-color: var(--color-body);
    color: var(--color-font1);
    font-size: .8rem;
}

.textearea{
    width: 100%;
    border: 2px solid var(--color-destaque);
    padding: 5px;
    background-color: var(--color-body);
    color: var(--color-font1);
    font-size: .8rem;
}

.button-submit{
    height: 3rem;
    width: 100%;
    background-color: var(--color-destaque);
    border-radius: 5px;
    color: var(--color-font1);
    border: none;
    font-size: .8rem;
}

.contatos{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.lista-contato{
    display: flex;
    align-items: baseline;
    height: 20px;
    text-align: center;
    gap: .5rem;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}
.contato-org{
    color: var(--color-font2);
}
.contato-org > P{
    margin: 0;
}
.logo-github{
    height: 17px;
}
.img-github{
    height: 17px;
    color: var(--color-destaque02);
}
.cor-svg{
    color: var(--color-destaque02);
}

.contatos2{
    display: flex;
    flex-direction: column;
    color: var(--color-font1);
    gap: 1rem;
    padding-top: 25px;
}


/*    -----------  FOOTER   ---------    */

footer{  
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--color-font1);
    background-color: var(--color-background03);

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all 1.2s;
}
.desc-rodape{
    font-size: 12px;
    margin: 5px 0;
    color: var(--color-font2);
}


/* ----------- Efeito de deslizar página toda ------------ */

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/*    -----------  Responsividade   ---------    */

h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.875rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 1.125rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.875rem;
}
p{
    font-size: 0.75rem;
}

a{
    text-decoration: none;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .ul1{
        gap: 48px;
    }
    .conteudo-principal-1-img{
        max-width: 200px;
    }
    .conteudo-principal-1-decript{
        line-height: 1.2;
    }
    /* .conteudo-principal-1-nome{
        font-size: 3rem;
    } */
    .button-cv{
        height: 2.4rem;
        width: 8rem;
        font-size: .7rem;
    }
    .container-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 1.875rem;
        /* font-weight: 600; */
    }
    h4{
        font-size: 1.25rem;
    }
    .miniCardsSkills{
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    .ul1{
        gap: 80px;
    }
    .list > a:hover{
        transform: scale(105%);
        color: var(--color-destaque);
        text-decoration: underline;
        transition: all .5s;        
    }
    .conteudo-principal-1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 2rem; 
    }
    .conteudo-principal-1-img{
        max-width: 220px;
    }
    .conteudo-principal-1-decript{
        line-height: 1.1;
    }
    .liSkills:hover{
        transform: scale(110%);
        transition: all .5s;
    }
    .cardLiSkills:hover{
        transform: scale(110%);
        transition: all .5s;        
    }
    .buttonLink:hover{
        transform: scale(110%);
        transition: all .5s;
        background-color: rgb(245, 154, 88);
        color: #000000;
    }
    .lista-contato:hover{
        transform: scale(102%);
        transition: all .5s;
    }
    .lista-contato:hover a{
        color: var(--color-destaque);
        text-decoration: underline;
        transition: all .5s;
    }
    .quem-sou{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;        
        min-height: 500px;
        padding: 5rem 5rem;
    }    
    .titulo-subtitulo-Portifolio{
        padding-bottom: 15px;
    }
    .card-only{
        height: 650px;
    }
    .button-cv{
        height: 2.8rem;
        width: 10rem;
        font-size: .8rem;
    }
    .button-cv:hover{
        transform: scale(110%);
        transition: all .5s;
        background-color: rgb(245, 154, 88);
        color: #000000;
    }
    .container-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;

        gap: 10px 20px;
    }
    .card-only:hover{
        cursor: pointer;
        transform: scale(102%);
        transition: all .5s;
    }
    .limitar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 75%;
        height: 75%;
    }
    .button-submit:hover{
        transform: scale(110%);
        transition: all .5s;
        background-color: rgb(245, 154, 88);
        color: #000000;
        
    }
    h1{
        font-size: 3.75rem;
    }
    h2{
        font-size: 1.875rem;
    }
}