@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

:root{
    --color-header:#21232e;
    --color-body: #222536;
    --color-font: #cfcac6;
    --color-destaque: chocolate;
}

* {
    font-family: 'Roboto-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
}

/*    -----------  MAIN   ---------    */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
}


/*    -----------  SECTION   ---------    */

section{
    display: flex;
    flex-direction: column;
}

/*    -----------  SECTION 1 DADOS PRINCIPAIS  ---------    */

.conteudo-principal-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-header);
    padding-top: 40px;
    padding-bottom: 2%;
    /* border: 2px solid yellow; */
}

.conteudo-principal-1-escrito{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.conteudo-principal-1-ola{
    color: var(--color-font);
    padding: 0;
    margin: 0;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .6s;
}

.conteudo-principal-1-nome{
    display: flex;
    font-size: 3rem;
    color: var(--color-destaque);
    padding-bottom: 1rem;
    font-weight: 600;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}

.conteudo-principal-1-decript{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all 1s;
}

.contatos{
    display: flex;
    flex-direction: column;
    color: var(--color-font);
    padding-top: 25px;
    /* border: 1px solid red; */
}
.lista-contato{
    display: flex;
    align-items: baseline;
    gap: .5rem;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all 1.2s;
}

.cor-svg{
    color: var(--color-destaque);
}

.img-github{
    height: 17px;
}

.github-site{
    color: var(--color-font);
    text-decoration: none;
    cursor: pointer;
}
.github-site a:hover{
    color: var(--color-destaque);
    transition: 1s;    
}

.conteudo-principal-1-img{
    max-width: 250px;
    z-index: 1;
    border-radius: 50%;
    border: 4px solid var(--color-destaque);
}
.div-img{
    padding: 1rem;
    z-index: 1;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all 1.4s;
}



/*    -----------  SECTION 2 QUEM SOU EU  ---------    */

.quem-sou{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 300px;
    gap: .5rem;
    padding: 5rem 5rem;
    opacity: 1;
    background-color: #171a29;
}

.container-quem-sou{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.titulo-quem-sou{
    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all .6s;
}

.descricao-quem-sou{
    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all .8s;
}

.description-tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all 1s;
}

.description-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all 1.2s;
}

/*    -----------  SECTION 3 PORTIFÓLIO   ---------    */

.portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: 2px solid yellow; */


    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.titulo-subtitulo-Portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.all-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.container-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56vh;
    color: var(--color-font);

    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.card {
    background-image: linear-gradient(#1b1a1a, #1f1e1e);
    overflow: hidden;
    border-radius: 10px;
    max-width: 300px;
    max-height: 400px;
    color: var(--color-font);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#3b245c, #100c1f);
}

.card .img-card-01 {
    background-image: url(./imgs/landingPage02PrintScreem.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.card:hover .img-card-01 {
    opacity: 1;
    width: 460px;
    height: 210px;
    transition: all .5s;
}

.card .img-card-01 span {
    color: var(--color-destaque);
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}
.card .img-card-01:hover span {
    color: var(--color-destaque);
    font-size: 32px;
    font-style: bold;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;

}

/* Adicionando card 2 */
.card .img-card-02 {
    background-image: url(./imgs/shoppingCar01.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.card:hover .img-card-02 {
    opacity: 1;
    width: 320px;
    height: 160px;
    transition: all .5s;
}

.card .img-card-02 span {
    color: var(--color-destaque);
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}
.card .img-card-02:hover span {
    color: var(--color-destaque);
    font-size: 32px;
    font-style: bold;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;

}

/* Adicionando card 2 */

/* Adicionando card 3 */
.card .img-card-03 {
    background-image: url(./imgs/printFullPage01.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.card:hover .img-card-03 {
    opacity: 1;
    width: 320px;
    height: 160px;
    transition: all .5s;
}

.card .img-card-03 span {
    color: var(--color-destaque);
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}
.card .img-card-03:hover span {
    color: var(--color-destaque);
    font-size: 32px;
    font-style: bold;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;

}

/* Adicionando card 3 */

/* Adicionando card 4 */
.card .img-card-04 {
    background-image: url(./imgs/calculadora01.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.card:hover .img-card-04 {
    opacity: 1;
    width: 350px;
    height: 240px;
    transition: all .5s;
}

.card .img-card-04 span {
    color: var(--color-destaque);
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}
.card .img-card-04:hover span {
    color: var(--color-destaque);
    font-size: 32px;
    font-style: bold;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s;

}

/* Adicionando card 4 */


.card .conteudo-card {
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(30px);
}

.card:hover .conteudo-card {
    padding: 20px;
    height: 160px;
    transform: translateY(0px);
}

.card .conteudo-card p {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
}

.titulo-card {
    font-size: 20px;
    font-weight: bold;
}

.card .container-cards .desc-card {
    font-weight: 100;
    opacity: .7;
    color: var(--color-font);
}

.card .arrow {
    padding: 15px;
    font-size: 20px;
}


/*    -----------  SECTION 4 CONTATO   ---------    */

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 3rem;
    /* border: 1px solid red; */
    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .8s;
}

.limitar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    gap: .5rem;
    background-color: var(--color-header);
    border-radius: 10px;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--color-font); 
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-contato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.div-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.div-contato input{
    border: 2px solid var(--color-destaque);
    height: 3rem;
    width: 45%;
    padding-left: 5px;
    background-color: var(--color-body);
    font-size: .8rem;
}

.textearea{
    border: 2px solid var(--color-destaque);
    padding: 5px;
    background-color: var(--color-body);
    font-size: .8rem;
}

.button-submit{
    height: 3rem;
    background-color: var(--color-destaque);
    border-radius: 5px;
    color: var(--color-font);
    border: none;
    font-size: .8rem;
}

.contatos2{
    display: flex;
    flex-direction: column;
    color: var(--color-font);
    gap: 1rem;
    padding-top: 25px;
    /* border: 1px solid red; */
}


/*    -----------  FOOTER   ---------    */

footer{  
    bottom: 0;
    width: 100%;
    text-align: center;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all 1.2s;
}
footer p{
    margin-bottom: 5px;
}


/* ----------- Efeito de deslizar página toda ------------ */

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    /* transition: all 1s; */
}


/*    -----------  Responsividade   ---------    */

h1{
    font-size: 1.2rem;
    color: var(--color-font);
}

h2{
    font-size: .9rem;
    color: var(--color-font);
    font-weight: 600;
}

p{
    font-size: .7rem;
    color: var(--color-font);
}

a{
    font-size: .7rem;
    text-decoration: none;
    color: var(--color-font);
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .conteudo-principal-1-nome{
        font-size: 3rem;
        font-weight: 700;
    }
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.1rem;
        font-weight: 600;
    }
    p{
        font-size: .8rem;
    }
    a{
        font-size: .8rem;
        text-decoration: none;
    }
}
@media screen and (min-width: 1024px) {
    .conteudo-principal-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5rem;       
        padding-inline: 2rem; 
    }
    .conteudo-principal-1-img{
        max-width: 350px;
    }
    .div-img{
        padding: 1rem;
        z-index: 1;
    }
    .conteudo-principal-1-nome{
        font-size: 3rem;
        font-weight: 700;
    }
    .quem-sou{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;        
        min-height: 500px;
        padding: 5rem 5rem;
    }
    .limitar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 75%;
        height: 75%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
        font-weight: 600;
    }
    p{
        font-size: .9rem;
    }
    a{
        font-size: .9rem;
        text-decoration: none;
    }
}