@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

:root{
    --color-backgound01:#171a29;
    --color-body: #222536;
    --color-font: #cfcac6;
    --color-destaque: chocolate;
}

* {
    font-family: 'Roboto-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
}

/*    -----------  MAIN   ---------    */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
}


/*    -----------  SECTION   ---------    */

section{
    display: flex;
    flex-direction: column;
}

/*    -----------  SECTION 1 DADOS PRINCIPAIS  ---------    */

.conteudo-principal-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 2%;
    /* border: 2px solid yellow; */
}

.conteudo-principal-1-escrito{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.conteudo-principal-1-ola{
    color: var(--color-font);
    padding: 0;
    margin: 0;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .6s;
}

.conteudo-principal-1-nome{
    display: flex;
    font-size: 3rem;
    color: var(--color-destaque);
    padding-bottom: 1rem;
    font-weight: 600;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all .8s;
}

.conteudo-principal-1-decript{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all 1s;
}

.contatos{
    display: flex;
    flex-direction: column;
    color: var(--color-font);
    padding-top: 25px;
}
.lista-contato{
    display: flex;
    align-items: baseline;
    gap: .5rem;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(0);
    transition: all 1.2s;
}

.cor-svg{
    color: var(--color-destaque);
}

.img-github{
    height: 17px;
}

.github-site{
    color: var(--color-font);
    text-decoration: none;
    cursor: pointer;
}
.github-site a:hover{
    color: var(--color-destaque);
    transition: 1s;    
}

.conteudo-principal-1-img{
    max-width: 250px;
    z-index: 1;
    border-radius: 50%;
    border: 4px solid var(--color-destaque);
}
.div-img{
    padding: 1rem;
    z-index: 1;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all 1.4s;
}



/*    -----------  SECTION 2 QUEM SOU EU  ---------    */

.quem-sou{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 300px;
    gap: .5rem;
    padding: 5rem 5rem;
    opacity: 1;
    background-color: var(--color-backgound01);
}

.container-quem-sou{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.titulo-quem-sou{
    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all .6s;
}

.descricao-quem-sou{
    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all .8s;
}

.description-tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all 1s;
}

.description-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all 1.2s;
}

.button-cv{
    height: 2.2rem;
    width: 7rem;
    background-color: var(--color-destaque);
    border-radius: 5px;
    color: var(--color-font);
    border: none;
    font-size: .6rem;

    opacity: 0;
    filter: blur(15px);
    transform: translate(30%);
    transition: all 1.5s;
}


/*    -----------  SECTION 3 PORTIFÓLIO   ---------    */

.portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 100%;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.titulo-subtitulo-Portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card-only{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-backgound01);
    height: 300px;
    width: 250px;
    padding: 15px;
    gap: 5px;
    border-radius: 8px;

    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}
.desc-card{
    text-align: center;
    margin: 0;
    font-size: .7rem;
    color: var(--color-font);
}
.image-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
}
.card-img-01{
    background-image: url(imgs/landingPage02PrintScreem.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100px;
    width: 150px;
}
.card-img-02{
    background-image: url(imgs/shoppingCar01.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100px;
    width: 150px;
}
.card-img-03{
    background-image: url(imgs/flappyBird.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100px;
    width: 150px;
}
.card-img-04{
    background-image: url(imgs/calculadora01.png);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 100px;
    width: 150px;
}


/*    -----------  SECTION 4 CONTATO   ---------    */

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 3rem;
    background-color: #171a29;

    /* border: 1px solid red; */
    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all .8s;
}

.limitar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    gap: .5rem;
    background-color: var(--color-header);
    border-radius: 10px;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--color-font); 
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-contato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.div-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.div-contato input{
    border: 2px solid var(--color-destaque);
    height: 3rem;
    width: 45%;
    padding-left: 5px;
    background-color: var(--color-body);
    color: var(--color-font);
    font-size: .8rem;
}

.textearea{
    width: 100%;
    border: 2px solid var(--color-destaque);
    padding: 5px;
    background-color: var(--color-body);
    color: var(--color-font);
    font-size: .8rem;
}

.button-submit{
    height: 3rem;
    width: 100%;
    background-color: var(--color-destaque);
    border-radius: 5px;
    color: var(--color-font);
    border: none;
    font-size: .8rem;
}

.contatos2{
    display: flex;
    flex-direction: column;
    color: var(--color-font);
    gap: 1rem;
    padding-top: 25px;
}


/*    -----------  FOOTER   ---------    */

footer{  
    bottom: 0;
    width: 100%;
    text-align: center;

    opacity: 0;
    filter: blur(15px);
    transform: translate(0);
    transition: all 1.2s;
}
footer p{
    margin: 5px 0;
}


/* ----------- Efeito de deslizar página toda ------------ */

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/*    -----------  Responsividade   ---------    */

h1{
    font-size: 1.2rem;
    color: var(--color-font);
}

h2{
    font-size: .9rem;
    color: var(--color-font);
    font-weight: 600;
}

p{
    font-size: .7rem;
    color: var(--color-font);
}

a{
    font-size: .7rem;
    text-decoration: none;
    color: var(--color-font);
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .conteudo-principal-1-nome{
        font-size: 3rem;
        font-weight: 700;
    }
    .button-cv{
        height: 2.4rem;
        width: 8rem;
        font-size: .7rem;
    }
    .container-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;

        gap: 10px 20px;
    }
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.1rem;
        font-weight: 600;
    }
    p{
        font-size: .8rem;
    }
    a{
        font-size: .8rem;
        text-decoration: none;
    }
}
@media screen and (min-width: 1024px) {
    .conteudo-principal-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5rem;       
        padding-inline: 2rem; 
    }
    .conteudo-principal-1-img{
        max-width: 350px;
    }
    .div-img{
        padding: 1rem;
        z-index: 1;
    }
    .conteudo-principal-1-nome{
        font-size: 3rem;
        font-weight: 700;
    }
    .lista-contato:hover{
        transform: scale(102%);
        transition: all .5s;
    }
    .lista-contato:hover a{
        color: var(--color-destaque);
        text-decoration: underline;
        transition: all .5s;
    }
    .quem-sou{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;        
        min-height: 500px;
        padding: 5rem 5rem;
    }    
    .titulo-subtitulo-Portifolio{
        padding-bottom: 15px;
    }
    .button-cv{
        height: 2.8rem;
        width: 10rem;
        font-size: .8rem;
    }
    .button-cv:hover{
        transform: scale(110%);
        transition: all .5s;
        background-color: rgb(245, 154, 88);
        color: #000000;
        
    }
    .container-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;

        gap: 10px 20px;
    }
    .card-only:hover{
        cursor: pointer;
        transform: scale(110%);
        transition: all .5s;
    }
    .limitar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 75%;
        height: 75%;
    }
    .button-submit:hover{
        transform: scale(110%);
        transition: all .5s;
        background-color: rgb(245, 154, 88);
        color: #000000;
        
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.2rem;
        font-weight: 600;
    }
    p{
        font-size: .9rem;
    }
    a{
        font-size: .9rem;
        text-decoration: none;
    }
}